* {
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 0px;
	text-rendering: optimizeLegibility;
	/*above for proper Firefox font rendering*/
	-webkit-font-smoothing: antialiased;
	/*above for proper Safari font rendering*/
}

.Dual-300 {
	font-family: Dual-300;
	font-weight: normal;
	font-style: normal;
}

.btn-transparent {
	background-color: transparent;
	border-color: white;
	font-size: 1em;
}
.btn-transparent:hover {
	background-color: transparent;
	border-color: white;
	box-shadow: 0px 0px 5px 0px white;
	/*horizontal-offset vertical-offset blur-radius color*/
}
.btn-transparent:focus {
	background-color: transparent;
	border-color: white;
}

div#landing {
	position:absolute; 
	z-index:1000; 
	width:100vw; 
	height:100vh; 
	background-color: gray;
	opacity: 1.0;
	text-align: center;
}

#landing-text {
	color: black;
	font-size: 10vh;
	display: none;   
	/* Above needed to get fadeIn fadeOut to work */
}

body {
	position: relative;
	/*font-family: Code-Pro-Light-Demo;*/
	color: black;
	/*font-family: NasalizationRg-Regular;*/
	/*font-family: Ephesus-demo-ExtraBold;*/
	font-size: 2.9vh;
	/*font-weight:	 bold;*/
	/*padding-top: 70px;*/
	overflow-x: hidden;
}

nav {
	border-radius: 0px;
	color: white;
	z-index: 100;
	/*border-bottom: 2px solid white;*/
	font-size: 3vh;
}

.nav-text {
	/*margin-left: 3.5vw; */
	/*margin-right: 3.5vw;*/
	position: absolute;
	/*border: 1px dotted yellow;*/
	text-align: center; 
	width: 20vw;
}

#display-image {
	/*margin-top:10vh; */
	position: absolute;
	/* top right bottom left */
	left: 5vw; top: 10vh;
	/*margin: 10vh 5vw 0vh 5vw;*/
	width: 10vw; 
	height: 10vw; 
	border: 0px solid gray; 
	background-position: top; 
	background-size: cover; 
	background-repeat: none; 
	border-radius: 100%;
}

.half-pane {
	width: 40vw; position: absolute; left: 0em; padding: 2em;
	z-index: 90;
}

.left-pane {
	margin-left: 20vw;
	z-index: 90;
}

.right-pane {
	margin-left: 60vw;
}

.full-pane {
	margin-left: 20vw; width: 80vw; position: absolute; left: 0em; padding: 2em;
	z-index: 90;
}

.footer {
	background-color: rgba(0,0,0,0.8);
	color: white;
	display: block;
	position: absolute;
	bottom: 0em;
}
