* {
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 0px;
	text-rendering: optimizeLegibility;
	/*above for proper Firefox font rendering*/
	-webkit-font-smoothing: antialiased;
	/*above for proper Safari font rendering*/
}

.Dual-300 {
	font-family: Dual-300;
	font-weight: normal;
	font-style: normal;
}

div#landing {
	position:absolute; 
	z-index:1000; 
	width:100vw; 
	height:100vh; 
	background-color: gray;
	opacity: 1.0;
	text-align: center;
}

#landing-text {
	color: black;
	font-size: 10vh;
	display: none;   
	/* Above needed to get fadeIn fadeOut to work */
}

body {
	position: relative;
	/*font-family: Code-Pro-Light-Demo;*/
	color: black;
	/*font-family: NasalizationRg-Regular;*/
	/*font-family: Ephesus-demo-ExtraBold;*/
	font-size: 1.5em;
	/*font-weight:	 bold;*/
	/*padding-top: 70px;*/
	overflow-x: hidden;
}

nav {
	border-radius: 0px;
	color: white;
	z-index: 100;
	/*border-bottom: 2px solid white;*/
	/*font-size: 3vh;*/

}

.side-pane {
	/*position:fixed; */
	/*height: 100vh; width: 20vw; border-radius: 0; padding: 0px;*/
}

.nav {
	/*position: absolute; */
	/*width: 20vw; */
	/*left: 0vw; */
	/*top: 35vh;*/
}

.nav-text {
	/*margin-left: 3.5vw; */
	/*margin-right: 3.5vw;*/
	/*position: absolute;*/
	/*border: 1px dotted yellow;*/
	text-align: center; 
	/*width: 20vw;*/
}

#display-image {
	position: absolute;
	left: 15vw;
	margin-left: -6vw;
	top: 25vh;
	width: 12vw;
	height: 12vw;
	border: 0px solid black;
	background-image: url('../resources/abhinav_garg.jpg');
	background-position: top;
	background-size: cover;
	background-repeat: none;
	border-radius: 100%;
}

#responsive-dp {
	display: none;
}

.half-pane {
	width: 50vw; 
	position: absolute; 
	left: 0em; 
	/* top right bottom left */
	padding: 2em 8em 2em 8em;
	z-index: 90;
}

.left-pane {
	/*margin-left: 20vw;*/
	z-index: 90;
}

.right-pane {
	margin-left: 50vw;
}

#home-left-pane {
	width: 70vw;
}

#home-right-pane {
	width: 30vw; 
	margin-left: 70vw;
}

.full-pane {
	/*margin-left: 20vw; */
	width: 100vw; 
	position: absolute; 
	left: 0em; 
	/* top right bottom left */
	padding: 2em 8em 2em 8em;
	z-index: 90;
}

.hover-footer {
	text-align: right;
	position: fixed;
	top: 95vh;
	right: 0vw;
	width: 100vw;
	height: 5vh;
	padding: 1vh;
	/*border: 1px solid gray;*/
	color: black;
	font-size: 2vh;
	background-color: rgb(246,246,246);
	border-radius: 0.5em 0em 0em 0em;
	z-index: 1000000;
}

.footer {
	background-color: rgba(0,0,0,0.8);
	color: white;
	display: block;
	position: absolute;
	bottom: 0em;
}

/* Applies when viewing on a portrait device */
/*@media screen and (max-aspect-ratio: 1/1) { */
/* 768px is when bootstrap navbar collapses */
@media (max-width: 768px) { 
	/* Right half panes can be safely ignored */
	.half-pane {
		width: 100vw; 
		height: auto;
		/* Relative position leads to divs clearing each other */
		/*position: relative;   */
		/*display: block;*/
		/*float: right;*/
		/*clear: both;*/
		/* top right bottom left */
		padding: 2em 8em 2em 8em;
		z-index: 90;
		/*border: 2px dashed red;*/
	}

	.left-pane {
		/*margin-left: 20vw;*/
		width: 100vw;
	}

	.right-pane {
		display: none;
	}

	#home-left-pane {
		width: 100vw; 
		height: auto;
	}

	#home-right-pane {
		display: none;
	}
	
	#responsive-dp {
		display: block;
		width: 2em;
		height: 2em;
		/* top right bottom left */
		margin: 0.3em 0.3em 0.3em 0.3em;
		border: 0px solid black;
		background-image: url('../resources/abhinav_garg.jpg');
		background-position: top;
		background-size: cover;
		background-repeat: none;
		border-radius: 100%;
	}

	.full-pane {
		/*margin-left: 20vw; */
		width: 100vw; 
		position: relative; 
		left: 0em; 
		/* top right bottom left */
		padding: 2em 8em 2em 8em;
		z-index: 90;
	}

	.hover-footer {
		text-align: right;
		position: fixed;
		top: 95vh;
		right: 0vw;
		width: 100vw;
		height: 5vh;
		padding: 1vh;
		/*border: 1px solid gray;*/
		color: black;
		font-size: 2vh;
		background-color: rgb(246,246,246);
		border-radius: 0.5em 0em 0em 0em;
		z-index: 1000000;
	}

}