* {
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 0px;
	text-rendering: optimizeLegibility;
	/*above for proper Firefox font rendering*/
	-webkit-font-smoothing: antialiased;
	/*above for proper Safari font rendering*/
}

.Dual-300 {
	font-family: Dual-300;
	font-weight: normal;
	font-style: normal;
}

#test_1 {
	font-family: 'Passion One', cursive;
	font-size: 3em;
	color: rgba(50,50,50,1);
}

#test_2 {
	/*font-family: 'Open Sans Condensed', sans-serif;*/
	font-size: 1.5em;
}

div#landing {
	position:absolute; 
	z-index:1000; 
	width:100vw; 
	height:100vh; 
	background-color: gray;
	opacity: 1.0;
	text-align: center;
}

#landing-text {
	color: black;
	font-size: 10vh;
	display: none;   
	/* Above needed to get fadeIn fadeOut to work */
}

body {
	position: relative;
	/*font-family: Code-Pro-Light-Demo;*/
	color: black;
	/*font-family: NasalizationRg-Regular;*/
	/*font-family: Ephesus-demo-ExtraBold;*/
	font-size: 1.5em;
	/*font-weight:	 bold;*/
	/*padding-top: 70px;*/
	/*HIDING OVERFLOW IN X AND Y*/
	overflow-x: hidden; 
	overflow-y: hidden;
	/*border-top: 2vh solid black;*/
}
/*Pseduo element*/
body::after {
	content: "";
	background-image: url('../resources/background.jpg');
	background-size: cover;
	opacity: 0.5;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100vw;
	height: 100vh;
	position: absolute;
	z-index: -1;   
}


#header {
	border-top: 2vh solid black;
	margin: 0px;
	/*font-size: 4vh;*/
	/*border: 2px dashed yellow;*/
	/*padding: 6vh;*/
}

/*div {
	border: 1px solid black;
}*/

nav {
	color: white;
	z-index: 100;
	width: 90vw;
	/*border-radius: 10vh;*/
	position: fixed;
	top: 2vh;
	left: 50vw;
	margin-left: -45vw;
	/*border: 200px dashed yellow;*/
	/*border-bottom: 2px solid white;*/
	/*font-size: 3vh;*/
}

.container-fluid {
	/*background-color: #2c3e50;*/
}

.side-pane {
	/*position:fixed; */
	/*height: 100vh; width: 20vw; border-radius: 0; padding: 0px;*/
}

.nav {
	/*position: absolute; */
	/*width: 20vw; */
	/*left: 0vw; */
	/*top: 35vh;*/
}

.nav-text {
	/*margin-left: 3.5vw; */
	/*margin-right: 3.5vw;*/
	/*position: absolute;*/
	/*border: 1px dotted yellow;*/
	text-align: center; 
	/*width: 20vw;*/
}

#display-image {
	position: absolute;
	left: 15vw;
	margin-left: -6vw;
	top: 25vh;
	width: 12vw;
	height: 12vw;
	border: 0px solid black;
	background-image: url('../resources/abhinav_garg.jpg');
	background-position: top;
	background-size: cover;
	background-repeat: none;
	border-radius: 100%;
}

#responsive-dp {
	display: none;
}

.half-pane {
	width: 40vw; 
	position: absolute; 
	left: 0em; 
	top: 5vh;
	/* top right bottom left */
	padding: 2em 2em 2em 2em;
	z-index: 90;
}

.left-pane {
	/*margin-left: 20vw;*/
	margin-left: 5vw;
	z-index: 90;
}

.right-pane {
	margin-right: 5vw;
	margin-left: 50vw;
}

#home-left-pane {
	width: 60vw;
	margin-left: 5vw;
}

#home-right-pane {
	width: 30vw; 
	margin-left: 70vw;
}

.full-pane {
	/*margin-left: 20vw; */
	width: 80vw; 
	position: absolute; 
	top: 5vh;
	left: 0em; 
	/* top right bottom left */
	margin-left: 10vw;
	margin-right: 10vw;
	padding: 2em 2em 2em 2em;
	z-index: 90;
}

.hover-footer {
	text-align: right;
	position: fixed;
	top: 95vh;
	right: 0vw;
	width: 100vw;
	height: 5vh;
	padding: 1vh;
	/*border: 1px solid gray;*/
	color: white;
	font-size: 2vh;
	background-color: rgba(0,0,0,0.8);
	border-radius: 0em;
	z-index: 1000000;
}

.footer {
	background-color: rgba(0,0,0,0.8);
	color: white;
	display: block;
	position: absolute;
	bottom: 0em;
}

/* Applies when viewing on a portrait device */
/*@media screen and (max-aspect-ratio: 1/1) { */
/* 768px is when bootstrap navbar collapses */
@media (max-width: 768px) { 
	/* Right half panes can be safely ignored */
	.half-pane {
		width: 100vw; 
		height: auto;
		/* Relative position leads to divs clearing each other */
		/*position: relative;   */
		/*display: block;*/
		/*float: right;*/
		/*clear: both;*/
		/* top right bottom left */
		padding: 2em 8em 2em 8em;
		z-index: 90;
		/*border: 2px dashed red;*/
	}

	.left-pane {
		/*margin-left: 20vw;*/
		width: 90vw;
		margin-left: 5vw;
		margin-right: 5vw;

	}

	.right-pane {
		display: none;
	}

	#home-left-pane {
		width: 90vw;
		margin-left: 5vw;
		margin-right: 5vw;
		height: auto;
	}

	#home-right-pane {
		display: none;
	}
	
	#responsive-dp {
		display: block;
		width: 2em;
		height: 2em;
		/* top right bottom left */
		margin: 0.3em 0.3em 0.3em 0.3em;
		border: 0px solid black;
		background-image: url('../resources/abhinav_garg.jpg');
		background-position: top;
		background-size: cover;
		background-repeat: none;
		border-radius: 100%;
	}

	.full-pane {
		/*margin-left: 20vw; */
		width: 90vw;
		margin-left: 5vw;
		margin-right: 5vw;
		position: relative; 
		left: 0em; 
		/* top right bottom left */
		padding: 2em 8em 2em 8em;
		z-index: 90;
	}

	.hover-footer {
		text-align: right;
		position: fixed;
		top: 95vh;
		right: 0vw;
		width: 100vw;
		height: 5vh;
		padding: 1vh;
		/*border: 1px solid gray;*/
		color: white;
		font-size: 2vh;
		background-color: rgba(0,0,0,0.8);
		border-radius: 0em;
		z-index: 1000000;
	}

}